<form [formGroup]="formProductoComponent">
    <div class="card">
        <div class="w-full">
            <div class="grid grid-cols-12 gap-4">
                <div *ngIf="mostrarRegistro" class="col-span-12 md:col-span-3">
                    <label for="tipoInventario" class="block mb-2 font-medium">Tipo Inventario: (*)</label>
                    <p-select class="w-full" [options]="listaInventario" optionLabel="descripcionCampo" placeholder="Seleccionar"
                        formControlName="tipoInventario"></p-select>
                </div>
                <div *ngIf="mostrarRegistro" class="col-span-12 md:col-span-3">
                    <label for="nombreProducto" class="block mb-2 font-medium">Nombre Producto: (*)</label>
                    <input class="w-full" pInputText id="name1" type="text" formControlName="nombreProducto" />
                </div>
                <div class="col-span-12 md:col-span-3">
                    <label for="turno" class="block mb-2 font-medium">Turno: (*)</label>
                    <p-select class="w-full" [options]="listaTurno" optionLabel="descripcionCampo" placeholder="Seleccionar"
                        formControlName="turno"></p-select>
                </div>
                <div class="col-span-12 md:col-span-3">
                    <label for="area" class="block mb-2 font-medium">Area: (*)</label>
                    <p-select class="w-full" [options]="listaArea" optionLabel="descripcionCampo" placeholder="Seleccionar"
                        formControlName="area"></p-select>
                </div>
                <div *ngIf="mostrarRegistro" class="col-span-12 md:col-span-3">
                    <label for="seccion" class="block mb-2 font-medium">Seccion: (*)</label>
                    <p-select class="w-full" [options]="listaSeccion" optionLabel="descripcionCampo" placeholder="Seleccionar"
                        formControlName="seccion"></p-select>
                </div>
                <div class="col-span-12 md:col-span-3">
                    <label for="grupo" class="block mb-2 font-medium">Grupo: (*)</label>
                    <p-select class="w-full" [options]="listaGrupo" optionLabel="descripcionCampo" placeholder="Seleccionar"
                        formControlName="grupo"></p-select>
                </div>
                <div class="col-span-12 md:col-span-3">
                    <label for="estado" class="block mb-2 font-medium">Estado: (*)</label>
                    <p-select class="w-full" [options]="listaEstado" optionLabel="descripcionCampo" placeholder="Seleccionar"
                        formControlName="estado"></p-select>
                </div>
                <div *ngIf="mostrarRegistro" class="col-span-12 md:col-span-3">
                    <label for="precioVenta" class="block mb-2 font-medium">Precio Venta: (*)</label>
                    <p-inputnumber class="w-full" formControlName="precioVenta"/>
                </div>

                <div *ngIf="mostrarRegistro" class="col-span-12 md:col-span-3">
                    <label for="costoProducto" class="block mb-2 font-medium">Costo Producto: (*)</label>
                    <p-inputnumber class="w-full" formControlName="costoProducto"/>
                </div>

                <div *ngIf="mostrarRegistro" class="col-span-12 md:col-span-3">
                    <label for="precioMayoreo" class="block mb-2 font-medium">Precio Mayoreo: (*)</label>
                    <p-inputnumber class="w-full" formControlName="precioMayoreo"/>
                </div>

                <div *ngIf="mostrarRegistro" class="col-span-12 md:col-span-3">
                    <label for="duracion" class="block mb-2 font-medium">Duracion: (*)</label>
                    <p-inputnumber class="w-full" formControlName="duracionProducto"/>
                </div>
            </div>

            <div class="flex justify-end mt-4 gap-1">
                <p-button label="Registrar" icon="pi pi-eye" (onClick)="registrar()" />
                <p-button label="Buscar" icon="pi pi-search" (onClick)="buscar()" />
                <!-- <p-button label="Validar" icon="pi pi-check-circle" (onClick)="validarGrilla()" />
                <p-button label="Limpiar" icon="pi pi-eraser" (onClick)="limpiarGrilla()" />
                <p-button label="Exportar" icon="pi pi-file-excel" /> -->
            </div>
        </div>
    </div>

    <div class="card">
        <ag-grid-angular class="ag-theme-alpine w-full h-[400px]" [rowData]="rowData" [gridOptions]="gridOptions"
            [pagination]="true" #agGrid>>
        </ag-grid-angular>
        <div class="flex justify-end mt-4 gap-1">
            <p-button label="Guardar" icon="pi pi-save" (onClick)="guardar()" />
            <p-button label="Editar" icon="pi pi-pencil" (onClick)="modificar()" />
            <p-button label="Eliminar" icon="pi pi-trash" (onClick)="eliminar()"/>
            <p-button label="Cancelar" icon="pi pi-times" (onClick)="cancelar()"/>
        </div>
    </div>
</form>